@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/notosans-regular-webfont.ttf') format('truetype'),
		 url('../fonts/notosans-regular-webfont.woff') format('woff'),
		 url('../fonts/notosans-regular-webfont.svg#noto-sans-regular') format('svg');
	font-weight:normal;
}
*{
	scroll-behavior: smooth;
}
body {
	margin:0;
	font-family: 'Noto Sans';
}
.page-container,
.page-container.scores {
	display: block;
	width: 100%;
	height: 120vh;
    max-width: 600px;
	background: #fbfbfe url(../images/login-background.png) no-repeat top center;
    background-size: cover;
    margin: 0 auto;    
}
.page-container.scores {
	background: #fbfbfe url(../images/score-background.png) no-repeat top center;
    background-size: 100%;
}
.content {
	display: block;
	width: 100%;
	position: relative;
}
.logo {
	display: block;
	padding: 65px 20px 0px 20px;
    text-align: center;    
}
.body-content {
	display: block;
	width:100%;
	margin: 50% auto 35%;
}
h1 {
	font-size: 32px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
	padding: 10px;
}
h2 {
	font-size:24px;
	color:#0100CA;
	text-align:left;
}
.block-popup h2 {
	margin: 5px 0;
	font-size:18px;
}
.block-popup .txt-references ul li {
	font-size: 10px;
}
.txt-references {
    text-align: left;
    font-size: 10px;
}
.body-content p {
	font-size: 16px;
	padding: 10px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
}
.references p {
	text-align: left;
}
p.referencesTitle {
    font-size: 10px;
    padding: 0px 0px 0px 3px;
    margin: 0px;
    color: #000000;
    text-align: left;
    line-height: initial;
}
.btn,
.btn-login,
.btn-about {
	width: 100%;
    position: relative;
    bottom: 0px;
    left: 0;
}

.btn, 
.btn-optional {
	display: flex;
	justify-content: center;
}
.btn-login a {
	width: 200px;
    display: block;
    padding: 10px 0px;
    margin: 0 auto;
    text-align: center;
    color: #0100CA;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px rgba(135, 135, 135, 0.1);
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}
.btn div.active-answer{
	color: #fff;
    border: 1px solid #fff;
    background: #0195FF;
}

.btn-optional div.active-answer{
	color: #fff;
    border: 1px solid #fff;
    background: #0195FF;
}

.logo-footer p {
    color: #3e3e3e;
    font-size: 12px;
    margin: 0px;
    line-height: initial;
    padding: 0px;
}
.claimFooter {
    font-size: 12px;
    text-align: center;
    color: #FFF;
    margin-top: 80px;
    text-shadow: 1px 1px 3px #000;
}
/*****************SCORES**********************/
.go-home {
	position: absolute;
    top: 35px;
    right: 35px;
}
.scores .body-content {
	margin: 0;
}
.scores .body-content .title {
	margin: 0;
	padding: 30px;
	text-align: left;
	font-size: 15px;
}
.scores .body-content h1 {
	margin: 0 0 75px;
	padding: 30px;
	text-align: left;
	font-size: 36px;
	font-weight: normal;
}

.card-content {
    width: 100%;
    height:85vh;
    padding:20px 5px;
    display: block;
    box-sizing: border-box;
}
.card-box {
	margin-top:-35px;
}
.card {
	width: 47%;
	display: block;
	float: left;
	box-sizing: border-box;
	margin: 5px;
	padding: 20px 10px;
	text-align: center;
	background:#ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
	border-radius: 20px;
	cursor:pointer;
}
.card:hover {
	background:#cecece;
}
.card.about:hover {
	background: #ffffff;
}
.card p {
	color:#0E1D32;
	font-size: 13px;
	margin: 0;
}
.card .title-score {
    font-weight: bold;
    font-size:18px;
}
.btn div,
.btn-about a {
	width: 90%;
    display: table;
    margin: 15px auto;
    padding: 10px 0px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0px 0px 14px rgba(135, 135, 135, 0.1);
    border-radius: 20px;    
    font-weight: bold;
    text-decoration: none;
    background: #0100CA url(../images/arrow-white.png) no-repeat 68% center;
}
.btn div {
	width: 140px;
    display: block;
    box-sizing: border-box;
    margin: 0px 10px;
    color: #0195FF;
    border: 1px solid #0195FF;
    background: #ffffff;
}

.btn-optional div {
	width: 90%;
	text-align: center;
    display: block;
    box-sizing: border-box;
    margin: 0px 10px;
    color: #0195FF;
    border: 1px solid #0195FF;
    background: #ffffff;
	border-radius: 20px;
	padding: 10px;
	margin-top: 10px;
}


.logo-footer {
	float: left;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 20px; 
}
.card.about {
	width: 97%;
}
.card.about p {
	text-align: left;
}
.btn-file {
	width: 100%;
	float: left;
    position: relative;
    bottom: 0;
    text-align: center;
    margin: 35px 0;
}
.btn-file a {
	font-size:18px;
	color: #0100CA;
    border: 1px solid #0100CA;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
}
.score-number{
	margin: 0;
}
.score-text{
	margin-bottom: 0;
}
.results-content{
	display: none;
}
/**************TABS*************************/
.body-content.miller,
.body-content.rocas,
.body-content.gia,
.body-content.increment {
	display: none;
}
.tabs-content {
	float: left;
    display: block;
    width: 100%;
	background:#fbfbfe;
}
#tab-miller, 
#tab-rocas, 
#tab-gia, 
#tab-incr {
	display: block;
    width: 90%;
    margin: -70px auto 0;
}
#tab-miller p,
#tab-rocas p, 
#tab-gia p, 
#tab-incr p {
	color:#0E1D32;
}
.block-01,
.block-02,
.factor-01,
.factor-02,
.factor-03,
.factor-04,
.factor-04-1,
.factor-05,
.description,
.sensibility,
.especified, 
.positive,
.negative,
.resume {	
    background: #ffffff;
    border-radius: 20px;    
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.block-01 {
	background: #ffffff url(../images/ico-virus.png) no-repeat 15px center;
}
.block-02 {
	background: #ffffff url(../images/ico-world.png) no-repeat 15px center;
}
.sensibility {
	background: #ffffff url(../images/ico-heart.png) no-repeat 15px center;
}
.especified {
	background: #ffffff url(../images/ico-science.png) no-repeat 15px center;
}
.positive {
	background: #ffffff url(../images/ico-plus.png) no-repeat 15px center;
}
.negative {
	background: #ffffff url(../images/ico-minus.png) no-repeat 15px center;
}
.block-01 p,
.block-02 p,
.sensibility p,
.especified p, 
.positive p,
.negative p {
	text-align: left;
	padding-left:80px;
	font-size:16px;
}
.block-01 strong,
.block-02 strong,
.sensibility strong,
.especified strong, 
.positive strong,
.negative strong {
	font-size: 18px;
}
.factor-01,
.factor-02,
.factor-03,
.factor-04,
.factor-05 {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.btn-container{
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-save,
.btn-process {
	float: left;
    position: relative;
    bottom: 0;
    text-align: center;
    margin: 10px 0;
	width: 240px;
	display: block;
	font-size:18px;
	font-weight: bold;
	color: #0100CA;
    border: 1px solid #0100CA;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
	background: #fff;
}
.btn-save:active{
	background: #0100CA;
	color: #fff;
}
.btn-save a,
.btn-process a {
	width: 200px;
	display: block;
	margin: 0 auto;
	font-size:18px;
	font-weight: bold;
	color: #0100CA;
    border: 1px solid #0100CA;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px;
}
.text-factor {
	background: #0100CA;
    border-radius: 20px 20px 0px 0px;
    color: #ffffff !important;
    text-align: left;
    padding: 10px 0px;
}
.text-factor p {
	color:#ffffff !important;
	text-align: left;
	margin: 5px 0;
    padding: 0 15px;
    font-weight: bold;
}
.text-factor .subtitle-factor {
	font-size:15px;
	font-weight: normal;
}


.text-factor-1 {
	background: #0100CA;
    border-radius: 20px 20px 0px 0px;
    color: #ffffff !important;
    text-align: left;
    padding: 10px 0px;
}
.text-factor-1 p {
	color:#ffffff !important;
	text-align: left;
	margin: 5px 0;
    padding: 0 15px;
    font-weight: bold;
}
.text-factor-1 .subtitle-factor {
	font-size:15px;
	font-weight: normal;
}



.ico-info,
.ico-info-second,
.ico-info-third {
	margin-bottom: -5px;
}
.factor-content .btn {
	float: none;
	text-align: center;
	margin-top: 20px;
}
.factor-content .btn a {
	float: none;
	display: inline-block;
}
.results,
.minimun {
	background:#0100CA;
	border-radius: 20px;
}
.minimun {
	background:#0195FF; 
}
.results p,
.minimun p {
	color:#ffffff !important;
	font-size:26px;
	font-weight: bold;	
}
.minimun p {
	font-size:20px;
}
.description {
	padding: 20px;
}
.description strong {
	font-size:18px;
}
.description p {
	font-size:16px;
	text-align: left;
	margin-bottom: 0;
    padding-bottom: 0;
}
.description ul {
  list-style: none;
}

.description ul li::before {
  content: "\2022";
  color: #0195FF;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.popup-01,
.popup-02,
.popup-03 {
	position: fixed;
    top: 0;
    box-sizing: border-box;
    padding: 20px;
    background: rgba(1,0,103,0.9);
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 18px;
    z-index: 2;
}
.popup-01 .block-popup,
.popup-02 .block-popup,
.popup-03 .block-popup {
	margin-top:100px;
	padding:20px;
	background:#ffffff;
	border-radius: 20px;
}
.popup-01 .block-popup p {
	color:#444444 !important;
}
.popup-02 .block-popup img,
.popup-03 .block-popup img {
	width: 100%;
}
.close {
	position:fixed;
	top: 20px;
	right: 20px;
	color:#ffffff;
}
.sidebar {
	width: 100%;
	max-width:600px;
	display: block;
    position: fixed;
    bottom: 0;
    /*background: #ffffff;    
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);  
	border-radius: 20px 20px 0 0;  */	
	z-index: 1;
}
.sidebar .menu {
	padding-left:0;
	margin: 0;
	text-align: center;
	font-size:0;
}
.sidebar .menu li {
    list-style: none;
	font-size:12px;
    display: inline-block;
    width: 20%;
    padding: 10px 2%;
    background: #ffffff;
}
.sidebar .menu li a {
	text-decoration: none;
	color:#0E1D32;
}
.sidebar .menu li.active {
	background: #65C0FF;
	color:#ffffff;
	font-weight: bold;
}
.sidebar .menu li.active a {
	text-decoration: none;
	color:#ffffff;
}
.sidebar .menu li:first-of-type {
	border-radius: 20px 0 0 0;
}
.sidebar .menu li:last-of-type {
    border-radius: 0 20px 0 0;
}
.logo-footer{
	margin-bottom: 80px;
}

.body-content.compare{
	display: none;
}
/***********ACCORDION****************/
.accordion-content {
    width: 90%;
    margin: 0 auto;
	margin-top: 176px;
}
.accordion-block {
	background: #ffffff;
    border-radius: 20px;    
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.accordion-block.miller,
.accordion-block.rocas,
.accordion-block.gia,
.accordion-block.incr{
	display: none;
}
.accordion-label {
	padding: 20px;
    margin: 20px 0 0;
    font-size: 20px;
    background: #0100CA url(../images/arrow-white-down.png) no-repeat 95% center;
    color: #ffffff;
    border-radius: 20px 20px 0 0;
}
.accordion-description {
	position: relative;
  	height: 0;
  	overflow: hidden;
}
.accordion-block.active .accordion-label {
	background: #0100CA url(../images/arrow-white-up.png) no-repeat 95% center;
}
.accordion-block.active .accordion-description {
	height: auto;
}
.accordion-table {
	width:100%;
	padding: 5px 10px;
	display: block;
}
.accordion-table td {
	width: 55%;
	padding: 10px;
    border-bottom: 1px dashed #D1D1D1;
}
.accordion-table td:first-of-type {
	width: 45%;
}
.accordion-table tr:last-of-type td {
	border-bottom: none;
}

@media (max-width:280px) {
	.scores .body-content h1 {
		font-size: 28px;
		margin:0;
		padding: 0px 30px 30px;
	}
	.card {
		width:46%;
	}
	.card .title-score {
		font-size: 17px;
	}
	.card p {
	    overflow-wrap: break-word;
	}
	.btn-about a {
	    background: #0100CA url(../images/arrow-white.png) no-repeat 75% center;
	}
	#tab-miller, #tab-rocas, #tab-gia, #tab-incr {
		margin-top: -30px;
	}
}
@media (min-width:390px) and (max-height:915px) {
	.card-content {
	    width: 100%;
	    height:74vh;
	}
}
@media (min-width:600px) {
	/*.page-container {
		max-width:100%;
	}*/
	.page-container {
		height: 100%;
	}
}

.optional {
    display: block;
}

.btn-optional {
    display: block;
	padding-bottom: 20px;
}